/* display components style */
.display {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 20px;
    box-shadow: 
        -2px 2px 3px 1px rgba(255, 255, 255, 0.06) inset,
        2px -2px 3px 1px rgba(255, 255, 255, 0.17) inset;
    border-radius: 10px;
    width: 200px;
    height: 100px;
    padding: 5px;
    background-color: black;
    font-family: 'VT323', monospace;
    color: red;
}

.display-tempo {
    font-size: 60px;
    line-height: 50px;
}

.bpm {
    font-size: 20px;
}

.display-bottom {
    display: inline-flex;
    justify-content: space-between;
    align-items: baseline;
    width: 90%;
}

.tempo-description {
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
}

.display-measure {
    display: inline-block;
    background-color: black;
    font-size: 25px;
    font-family: 'VT323', monospace;
    color: red;
}