@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=VT323&display=swap');
/* 
font-family: 'IBM Plex Mono', monospace;
font-family: 'VT323', monospace;
*/

:root {
    --grey1: rgb(56, 56, 56);
    --grey2: rgb(34, 34, 34);
    --grey3: rgb(51, 51, 51);
    --grey4: rgb(29, 29, 29);
}

* {
    padding: 0;
    margin: 0;
}

body {
    user-select: none;
    font-family: 'IBM Plex Mono', monospace;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 250px;
    justify-content: space-around;
    background: var(--grey2);
}



section {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.btn {
    display: inline-block;
    /* background-color: rgb(95, 77, 77); */
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10%;
    text-align: center;
    font-weight: bold;
    line-height: 19px;
    cursor: pointer;
    background: linear-gradient(45deg, var(--grey2), var(--grey1));
    /* background-color: black; */
}

.btn:hover {
    color: red;
    
}

.btn:active {
    background: linear-gradient(45deg, var(--grey4), var(--grey3));


}

.decrease-btn, .increase-btn {
    width: 50px;
    height: 50px;
    line-height: 42px;
    font-size: 20px;

}

.subtract-beats, .add-beats, .subtract-notes, .add-notes {
    width: 25px;
    height: 25px;
}





.display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 20px;
    background-color: black;
    color: red;
    font-family: 'VT323', monospace;
    width: 200px;
    height: 100px;

}

.tempo {
    /* position: relative; */
    font-size: 60px;
    line-height: 50px;
}

.bpm {
    font-size: 20px;
}

.display-bottom {
    display: inline-flex;
    width: 90%;
    justify-content: space-between;
    align-items: baseline;
}

.tempo-description {
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
}

.display-beats {
    display: inline-block;
    font-size: 25px;
    /* padding: 5px 10px; */
    background-color: black;
    color: red;
    font-family: 'VT323', monospace;
}

.measure {  /* to będzie trzeba zmienić na buttons */
    width: 100%;
    justify-content: space-around;
}

.btns-container {
    display: flex;
    justify-content: space-between;
}

.measure-change-text {
    margin: 0 10px;
    
}



.play-btn {
    font-size: 20px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    line-height: 67px;
    padding-left: 2px;
}



.is-playing {
    color: red;
}
