@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=VT323&display=swap');
/* 
font-family: 'IBM Plex Mono', monospace;
font-family: 'VT323', monospace;
*/

* {
    padding: 0;
    margin: 0;
}

body {
    user-select: none;
    font-family: 'IBM Plex Mono', monospace;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 250px;
    justify-content: space-around;
    background: radial-gradient(rgb(34, 34, 34), rgb(27, 27, 27) 50%)
}

.btn {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tempo {
    font-size: 35px;
}

.display-tempo {
    display: inline-flex;
    justify-content: center;
    align-items: baseline;
    margin: 0 20px;
    padding: 5px 20px;
    background-color: black;
    color: red;
    font-family: 'VT323', monospace;
    width: 70px;

}

.measure {
    width: 100%;
    justify-content: space-around;
}

.display-beats {
    display: inline-flex;
    justify-content: center;
    align-items: baseline;
    font-size: 30px;
    padding: 5px 10px;
    background-color: black;
    color: red;
    font-family: 'VT323', monospace;
    width: 60px;
}


.btns-container {
    display: flex;
    justify-content: space-between;
}

.measure-change-text {
    margin: 0 5px;
}



.pause-btn, .play-btn {
    font-size: 50px;
    width: 50px;
    height: 50px;
    border: 1px white solid;
    border-radius: 30%;
    cursor: pointer;
    padding-left: 10px;
    padding-bottom: 30px;
    box-sizing: border-box;
}

.pause-btn {
    font-size: 25px;
}

.hide {
    display: none;
}