@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=VT323&display=swap');
/* 
font-family: 'IBM Plex Mono', monospace;
font-family: 'VT323', monospace;
*/


/* used colors */
:root {
    --grey1: rgb(56, 56, 56);     /* for buttons */
    --grey2: rgb(34, 34, 34);     /* for buttons and background */
    --grey3: rgb(51, 51, 51);     /* for buttons:active */
    --grey4: rgb(29, 29, 29);     /* for buttons:active */
}


/* tags style */
body {
    background: black;
    font-family: 'IBM Plex Mono', monospace;
    color: white;
    user-select: none;
}

section,
nav {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.background-img {
    z-index: -1;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 30vw;
    min-width: 250px;
    height: 100vh;
    background: url(../media/background.png) no-repeat right bottom;
    background-size: 100%;
}

/* other elements style */
.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 15vh;
    box-shadow: 
        -12px 12px 16px -4px rgba(190, 190, 190, 0.1) inset,
        8px -8px 12px -4px rgba(0, 0, 0, .4) inset;
    border-radius: 15px;
    width: 450px;
    height: 250px;
    background: linear-gradient(60deg, var(--grey2) 0%, var(--grey1) 100%);
}

.controls {
    justify-content: space-around;
    width: 100%;
}

.change-measure-label {
    margin: 0 10px 5px;
}

.btns-container {
    display: flex;
    justify-content: space-between;
}